---
permalink: /404.html
---

<div id="arbackground"></div>
<div class="artop">
  <h1 style="font-size: 136px;">404</h1>
  <h3>Page not found</h3>
  In the digital realm of a long-forgotten website, a lone wanderer stumbled upon a mysterious 404 page. Instead of the usual error message, a playful ghost materialized, offering a spectral hand as if to guide the lost user elsewhere. With a mischievous grin frozen on its translucent face, the ghost beckoned towards an invisible path, embodying both the enigma and allure of the uncharted web.
</div>
  <div class="arcontainer fadeInAndOut" id="back-link">
    <div class="ghost-copy">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
    <div class="ghost">
      <div class="face">
        <div class="eye"></div>
        <div class="eye-right"></div>
        <div class="mouth"></div>
      </div>
    </div>
    <div class="arshadow"></div>
  </div>

[back](./)
